@using MyArtPlace.Core.Constants
@using MyArtPlace.Core.Models.Product
@model IEnumerable<ProductListViewModel>

@{
    ViewData["Title"] = "My Products";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/css/my_css/product_list.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/corona_bootstrap/images/MyArtPlace_Circle_Logo.png" />
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="card-body" id="products">
                <h4 class="card-title" id="title">@ViewData["Title"]</h4>
                @if (Model.Count() == 0)
                {
                    <div id="no_products_message" style="color:white;font-size:400%;margin:auto;text-align:center;">
                        @MessageConstants.NoProductsInMyProductsViewMessage
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        @foreach (var product in Model)
                        {
                            var base64 = Convert.ToBase64String(product.ImageByteArray);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <div>
                                <div>
                                    <div id="product">
                                        <div id="product-bg">
                                            <div id="product-parts">
                                                <img id="image" src="@imgSrc">
                                                <div>
                                                    <div id="product-small-line">
                                                        <div id="category">@product.Category</div>
                                                        <div id="likes" style=" margin-right: 32px;margin-top: 5px;float: right;font-size: 130%">@product.Likes</div>
                                                    </div>
                                                    <img id="hart" style="height: 30px;width: 30px; position: absolute; margin-left: 270px; margin-top: -33px;" src="~/corona_bootstrap/images/hart.png" />
                                                    <div id="product-title">
                                                        <div id="name">@product.Name</div>
                                                        <div id="price">@product.Price @product.Iso</div>
                                                    </div>
                                                    <div id="actions" style="margin-top:0px;">
                                                        <a class="btn btn-warning" id="edit" style="min-width: 145px;" asp-action="EditProduct" asp-controller="Product"
                                                   asp-route-productId="@product.Id">Edit</a>
                                                        <a class="btn btn-danger" id="delete" style="min-width: 145px; margin-left:5px;" asp-action="DeleteProductQuestion" asp-route-productId="@product.Id"
                                                   asp-controller="Product">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <partial name="_ValidationScriptsPartial" />
    <!-- endinject -->
</body>
</html>
